:root {
  --font: 'Share Tech Mono', monospace;
  --bold: 800;
}

body::after {
  background-color: rgba(255, 255, 255, .6);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: var(--font);
  font-weight: var(--bold);
}

#root {
  background: rgba(31, 31, 31, 0.5);
}

.loading-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .9);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#App-video {
  position: fixed;
  right: -25vw;
  bottom: 0;
  width: 150vw;
  height: 150vh;
  z-index: -1;
}

.ui.raised {
  margin: 0 !important;
  padding: 0 !important;
}

.ui.grid.grid-row-3 {
  display: grid;
  height: 100%;
  margin: 0;
  grid-template-rows: 15% 60% 25%;
}

.ui.grid > .row {
  align-items: center;
  justify-content: center;
  width: 100%!important;
  height: 100%;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.ui.card, .ui.cards>.card {
  min-height: 100%;
}

.ui.container {
  padding: 50px 0;
}

.ui.fullscreen.modal {
  width: 100% !important;
}

.ui.segment {
  height: 100vh;
  background: rgba(255, 255, 255, 0);
}

.ui.card, .ui.cards > .card {
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
}

.ui.horizontal-container {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
  background: transparent;
  -webkit-overflow-scrolling: touch;
}

.ui.horizontal-container::-webkit-scrollbar {
  display: none;
}

.ui.horizontal-container > .column {
  flex: 0 0 auto;
}

.ui.sensors {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.ui.sensor:after {
  display: inline-block;
  margin: 0 0 15px 0;
  height: 2px;
  content: " ";
  text-shadow: none;
  background-color: rgba(255, 255, 255, .6);
  width: 150px;
}

.ui.sensor:before {
  display: inline-block;
  margin: 0 0 15px 0;
  height: 2px;
  content: " ";
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.6);
  width: 150px;
}

.ui.sensor--detail {
  position: relative;
}

.ui.sensor--detail h3 {
  position: relative;
  top: 15px;
  left: -15px;
}

.ui.label.inner-circle {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 32px;
  height: 32px;
  z-index: 0;
  background-color: #6d58adb0!important;
  -webkit-animation: pulse 2s linear infinite;
  -moz-animation: pulse 2s linear infinite;
  animation: pulse 2s linear infinite;
}

.ui.olive.label, .ui.olive.labels .label {
  position: relative;
  top: 26px;
  min-width: 0;
  min-height: 0;
  width: 6px!important;
  height: 6px!important;
  background-color: rgb(125, 26, 182)!important;
  border: 2px solid rgba(255, 255, 255, 1)!important;
  color: rgb(29, 158, 75)!important;
  cursor: pointer;
}

.header .company {
  position: relative;
  margin-bottom: 20px;
  color: #fff;
}

.company--name {
  font-family: 'Kanit', sans-serif;
  z-index: 1;
  position: relative;
  left: 70px;
}

.company--prefix {
  position: absolute;
  top: 5px;
  left: 70px;
}

.header--icon {
  position: absolute;
  -webkit-animation:App-logo-spin 2s linear infinite;
  -moz-animation:App-logo-spin 2s linear infinite;
  animation:App-logo-spin 2s linear infinite;
}

.ui.card--content {
  padding: 0 10px;
  background-color: transparent;
}

.card-description-header {
  margin-top: 5px;
  margin-bottom: 25px;
}

.card-description-title {
  margin: 0;
  padding: 3px 0;
}

.card-description-text {
  margin-bottom: 10px;
  font-weight: 100;
}

.status {
  text-align: right;
}

@keyframes pulse {
  0% {
      transform: scale(1.0);
  }
  25% {
    transform: scale(1.25);
  }
  50% {
      transform: scale(1.5);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.0);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
